<table>
  <thead>
    <th>Revista Nro.</th>
    <th>Ingreso</th>
    <th>Salida</th>
  </thead>
  <%- @controles_stock.each do |control_stock| %>
    <tr>
      <td><%= control_stock.revista.numero %></td>
      <td><%= control_stock.variacion > 0 ? control_stock.variacion : "-" %></td>
      <td><%= control_stock.variacion < 0 ? -control_stock.variacion : "-" %></td>
    </tr>
  <%- end %>
</table>